/* Whole document: */
body{
  font-family: EB Garamond;
  font-size: 12pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 12pt;
  text-transform: uppercase;
}

title {
  font-size: 12pt;
  text-transform: uppercase;
}